body { 
    
    text-align:center;
    background-color:#80FF8C;

}

h1 { 

color:#777;

}

.totalButton { 


height: 50px;
width: 214px;
border-radius:5px;
border: 1px solid #3366FF;

}

.button { 


height: 50px;
width: 50px;
border: 1px solid pink;
border-radius:10px;
margin-top:4px;
background-color:transparent;
color: pink;

}

 #calculatorShell { 

/* background-attachment: fixed; */
background-position: center;
/* background-color:#80FF8C; */
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtaFkFSu_t_6eckUgW0fw_DbRK3sqDZddJ-g&usqp=CAU");
background-repeat: no-repeat;
 background-size: contain;
padding-top: 20px;
padding-bottom:20px; 
/* height: 100%;
width: 100%;
 max-width: 540%;
border: 1px solid;
border-radius:5px */

}

/* @media screen and (max-width: 992px) {
    #calculatorShell{
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
    }

    } */